body {
    background: url("./img/westWorldDesktop3.gif" ) center fixed;
    background-size: cover;
    min-height: 100vh;
  }


Button {
    text-transform: uppercase;
    transition: 3s ease;
    position: absolute;
    margin-top:100%;
    left:0%;
    }

a {
    color:white;
    font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
    text-align: center;
    padding:
}






